body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    background-color: white;
}
button{
    width: 100%;
    max-width: 180px;
    padding: 10px;
    background-color: #0BA0DC;
    margin-top: 1em;
    border-radius: 10px;
}

h2{
    color: white;
    margin: 1em;
    font-size: 1em;
}